@{
    ViewData["Title"] = "Movie List";
}

@model List<MovieSubmission> 


<table class="table is-striped is-hoverable">
    <thead>
        <tr class="has-background-primary-light">
            <td><strong class="is-size-5">Category</strong></td>
            <td><strong class="is-size-5">Title</strong></td>
            <td><strong class="is-size-5">Year</strong></td>
            <td><strong class="is-size-5">Director</strong></td>
            <td><strong class="is-size-5">Rating</strong></td>
            <td><strong class="is-size-5">Edited</strong></td>
            <td><strong class="is-size-5">Lent To</strong></td>
            <td><strong class="is-size-5">Notes</strong></td>
            <td><strong class="is-size-5">Edit</strong></td>
            <td><strong class="is-size-5">Delete</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Category.CategoryName</td>
                    <td>@x.title</td>
                    <td>@x.year</td>
                    <td>@x.director</td>
                    <td>@x.rating</td>
                    <td>@x.edited</td>
                    <td>@x.lentTo</td>
                    <td>@x.notes</td>
                    <td><a class="button is-primary" asp-controller="Home" asp-action="Edit" asp-route-submissionId="@x.submissionId"><strong>Edit</strong></a></td>
                    <td><a class="button is-danger" asp-controller="Home" asp-action="Delete" asp-route-submissionId="@x.submissionId"><strong>Delete</strong></a></td>
                </tr>
            }
    </tbody>
</table>